* {
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(135deg, #b9ffb3, #b1d6f5);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #333;
  }
  
  main {
    padding: 0 16px 32px;
  }
  
  .title {
    font-size: 64px;
    color: #48a300;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .title span {
    color: #61481c;
    font-family: 'Style Script', cursive;
  }
  
  .app-container {
    background: rgba(255, 255, 255, 0.95);
    max-width: 660px;
    margin: auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .subtitle {
    font-size: 24px;
    font-weight: 600;
    color: #61481c;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sun-icon {
    vertical-align: middle;
    margin-left: 12px;
    width: 30px;
    height: auto;
  }
  
  .progress-label {
    font-size: 16px;
    color: #858585;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
  }
  
  .progress-bar {
    height: 30px;
    background-color: rgba(72, 163, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 42px;
    position: relative;
    overflow: hidden;
  }
  
  .progress-value {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #48a300, #91e060);
    border-radius: 15px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
  }
  
  .progress-value span {
    padding-left: 10px;
    white-space: nowrap;
  }
  
  .error-label {
    font-size: 12px;
    color: #ff5151;
    margin-top: 4px;
    text-align: center;
    display: none;
  }
  
  .show-error .error-label {
    display: block;
  }
  
  .goal-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    background: #fff;
    margin-bottom: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .goal-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .custom-checkbox {
    width: 28px;
    height: 28px;
    border: 2px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .custom-checkbox:hover {
    border-color: #61481c;
  }
  
  .check-icon {
    display: none;
    width: 20px;
    height: 20px;
  }
  
  .goal-input {
    border: none;
    outline: none;
    padding-left: 16px;
    font-family: inherit;
    font-size: 18px;
    align-self: stretch;
    width: 100%;
    font-weight: 500;
    color: #333;
    background: none;
  }
  
  .goal-input::placeholder {
    color: #d9d9d9;
  }
  
  .completed .custom-checkbox {
    background: #48a300;
    border-color: #48a300;
  }
  
  .completed .check-icon {
    display: block;
  }
  
  .completed .goal-input {
    color: #48a300;
    text-decoration: line-through;
  }
  
  .quote {
    font-weight: 500;
    text-align: center;
    font-style: italic;
    color: #555;
    margin-top: 32px;
    font-size: 18px;
  }
  
  .made-with {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #858585;
    margin-top: 64px;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 32px;
    }
  
    .app-container {
      padding: 16px 24px;
    }
  
    .goal-container {
      height: 64px;
      margin-bottom: 16px;
      border-radius: 12px;
    }
  
    .custom-checkbox {
      width: 20px;
      height: 20px;
    }
  
    .made-with {
      margin-top: 32px;
    }
  
    .progress-bar {
      height: 24px;
    }
  }
  